//** https://www.realtimecolors.com/?colors=eceef2-0c121a-9ab7df-194785-3f8bef&fonts=Inter-Inter ***/

:root {
  --text: #edeff3;
  --background: #0b1018;
  --primary: hsl(215, 52%, 74%);
  --accent-rgb: 62, 139, 239;
  --primary-course: hsl(215, 52%, 74%, 20%);
  --secondary: #194885;
  --secondary_v2: hsl(214, 68%, 31%, 30%);
  --accent: #3e8bef;
  --tertiary: hsl(220, 19%, 94%, 5%);
}
